.patient-reg-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.patient-reg-container input,
.patient-reg-container select,
.patient-reg-container textarea {
  width: 100%;
  padding: 5px;
}

.patient-reg-container button {
  padding: 8px;
  background-color: #0b90ff;
  color: white;
  border: none;
  cursor: pointer;
}
